.containerLeftSideBar{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}
.containerLeftSideBar a{
    text-decoration: none;
}
.containerLeftSideBar h1{
    color: #fff;
    font-weight: 900;
    font-size: 2rem;
    margin: 2rem 0;
}
.containerLeftSideBar h1:hover{
    cursor: pointer;
}

.containerRedes{
    display: flex;
    flex-direction: column;
}

.links img{
    width: 2rem;
    margin: 1rem;
    filter: invert(1);
    transition: 0.2s;
}
.links img:hover{
    cursor: pointer;
    filter: invert(0.6);
    transition: 0.2s;
}