.containerRightSideBar{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerRightSideBar h2{
    margin: 2rem 0;
    font-weight: 400;
    font-size: 1.1rem;
    color: #fff;
    writing-mode: sideways-rl;
    text-orientation: upright;
    border-left: 2px solid transparent;
    transition: 0.2s;
}
.containerRightSideBar h2:hover{
    cursor: pointer;
    filter: invert(0.6);
    border-left: 2px solid #fff;
    transition: 0.2s;
}